/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #show{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
 }

 #show h2{
  margin-bottom: 20px;
  font-size: 30px;
  color: #50858B;
  font-weight: bold;
 }
 #show ul{
  list-style: none;
  padding: 0px;
 }

 #new{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

#new h1 {
  font-size: 35px;
  color: #78CAD2;
  margin-bottom: 20px;
}

#list{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 7%;
}

#list a{
  text-decoration: none !important;
}

.container{
  width: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

}

#show .btn_blue{
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #593C8F 5%, #171738 100%);
	border-radius:11px;
	display: flex;
  justify-content: center;
	cursor:pointer;
	color:#FFD9CE;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
  width: 20%;
  margin-left: 40%;
}
